node_modules
.git
.idea
.tmp
.npm-debug*
/config/credentials.js
/public/dist/**
/public/dev/**
/public/static/**
/public/upload/**
/public/src/style/css/**
/logs/**
/views/dist/**
/**/.DS_Store
/**/*.css.map