<? if(post.post.comment_flag !== 'closed'){ ?>
<? if(comments.length > 0){ ?>
<div class="m-diag">&nbsp;</div>
<div class="m-comment-list" id="comments">
    <? comments.forEach(function(comment, index){ ?>
    <? if(index > 0){ ?>
    <div class="m-diag m-diag-dashed">&nbsp;</div>
    <? } ?>
    <div class="m-comment-item">
        <p class="m-comment-meta">
            <span class="m-comment-author"><?- comment.comment_author ?></span>
            <span class="m-comment-time"><?- comment.display_created ?></span>
        </p>
        <p><?- comment.comment_content ?></p>
        <p class="m-comment-action">
            <span><a class="j-vote-up" data-comment="<?- comment.comment_id ?>" href="javascript:;">赞(<span class="j-vote-count"><?- comment.comment_vote ?></span>)</a></span>
            <span><a class="j-reply" data-comment="<?- comment.comment_id ?>" href="javascript:;">回复</a></span>
        </p>
    </div>
    <? }) ?>
</div>
<? } ?>
<div class="m-diag">&nbsp;</div>
<div class="m-comment-form j-post-comment" id="respond">
    <form method="post" action="/post/comment/save" class="j-form-comment">
        <p class="m-row">
            <input type="text" class="u-input" name="commentUser" maxlength="8" placeholder="昵称" value="<?= user.userName ?>" /><span class="u-label-required">*</span>
        </p>
        <p class="m-row">
            <input type="text" class="u-input" name="commentEmail" maxlength="100" placeholder="Email" value="<?= user.userEmail ?>" /><span class="u-label-required">*</span>
        </p>
        <p class="m-row">
            <input type="text" class="u-input" name="commentSite" maxlength="100" placeholder="站点" />
        </p>
        <p class="m-row">
            <textarea class="u-input u-textarea-comment" name="commentContent" maxlength="400" placeholder="评论内容"></textarea><span class="u-label-required">*</span>
        </p>
        <p class="m-row">
            <input type="submit" class="u-btn u-btn-submit" value="提交" />
        </p>
        <input type="hidden" name="_csrf" class="csrfToken" value="<?- token ?>" />
        <input type="hidden" name="commentId" class="commentId" value="" />
        <input type="hidden" name="postId" value="<?= post.post.post_id ?>" />
        <input type="hidden" name="from" value="post" />
    </form>
</div>
<? } ?>