<div class="m-header">
    <div class="m-header-bg">&nbsp;</div>
    <div class="m-nav">
        <a class="u-logo" href="/" title="抚云生活">&nbsp;</a>
        <ul class="m-nav-main">
            <? if(curNav === 'index'){ ?><li class="active"><? } else { ?><li><? } ?><a title="返回抚云生活首页" href="/">首页</a></li>
            <? for(var navIdx in categories){ ?>
            <? var nav = categories[navIdx]; ?>
            <? if(nav.slug === curNav){ ?><li class="active"><? } else { ?><li><? } ?>
                <a title="<?- nav.description ?>" href="/category/<?= nav.slug ? nav.slug : nav.name ?>"><?- nav.name ?></a>
                <? if(!util.isEmptyObject(nav.children)){ ?>
                <ul class="m-nav-sub">
                    <? for(subnavIdx in nav.children){ ?>
                    <? var subnav = nav.children[subnavIdx]; ?>
                    <li><a title="<?- subnav.description ?>" href="/category/<?= subnav.slug ? subnav.slug : subnav.name ?>"><?- subnav.name ?></a></li>
                    <? } ?>
                </ul>
                <? } ?>
            </li>
            <? } ?>
        </ul>
        <ul class="m-nav-tool">
            <? quickLinks.forEach(function(link){ ?>
            <li><a title="<?- link.linkDescription ?>" href="<?= link.linkUrl ?>"><?- link.linkName ?></a></li>
            <? }) ?>
            <? if (isLogin){ ?>
            <li><a href="/admin" title="管理后台" target="_blank">管理</a></li>
            <li><a href="/user/logout" title="退出登录">登出</a></li>
            <? } else { ?>
            <li><a href="/user/login" title="登录抚云生活" rel="nofollow">登录</a></li>
            <? } ?>
        </ul>
    </div>
</div>