<footer class="m-footer-wrap">
    <div class="m-footer">
        <p><a href="/aboutme" title="关于抚云">关于抚云</a>&nbsp;&nbsp;<a href="/feedback" title="意见反馈">意见反馈</a>&nbsp;&nbsp;<a href="/contactus" title="联系我们">联系我们</a>&nbsp;&nbsp;<a href="/copyright" title="版权声明">版权声明</a></p>
        <p><span><?- options.copyright_notice.option_value ?></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span><?- options.icp_num.option_value ?></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span id="cnzz_stat_icon_1257388214">&nbsp;</span></p>
        <p>Powered by node.js, created by Fuyun.</p>
    </div>
</footer>