<? include ../common/header.html ?>
<div id="body-wrapper">
    <? include ../elements/leftNav.html ?>
    <div id="content">
        <? include ../elements/topBar.html ?>
        <div id="control-panel">
            <div id="control-body">
                <h2>评论</h2>
                <div class="split-line"><div class="split-corner">&nbsp;</div></div>
                <div id="status-type">
                    <ul>
                        <li><a href="/admin/comment?status=all"<? if(curStatus === 'all'){ ?> class="font-bold"<? } ?>>全部 (<?= count.all || 0 ?>)</a> | </li>
                        <li><a href="/admin/comment?status=pending"<? if(curStatus === 'pending'){ ?> class="font-bold"<? } ?>>待审 (<?= count.pending || 0 ?>)</a> | </li>
                        <li><a href="/admin/comment?status=normal"<? if(curStatus === 'normal'){ ?> class="font-bold"<? } ?>>获准 (<?= count.normal || 0 ?>)</a> | </li>
                        <li><a href="/admin/comment?status=spam"<? if(curStatus === 'spam'){ ?> class="font-bold"<? } ?>>垃圾评论 (<?= count.spam || 0 ?>)</a> | </li>
                        <li><a href="/admin/comment?status=trash"<? if(curStatus === 'trash'){ ?> class="font-bold"<? } ?>>回收站 (<?= count.trash || 0 ?>)</a></li>
                    </ul>
                </div>
                <div id="search-bar">
                    <form method="get" action="#">
                        <input type="text" class="input keyword" id="keyword" name="keyword" placeholder="搜索..." />
                        <input type="submit" class="button" value="搜索评论" />
                        <input type="hidden" name="_csrf" id="csrfToken" value="<?- token ?>" />
                    </form>
                </div>
                <div class="table-nav clear-both">
                    <span><input type="button" class="button" value="批准" /></span>
                    <span><input type="button" class="button" value="驳回" /></span>
                    <span><input type="button" class="button" value="标记垃圾评论" /></span>
                    <span><input type="button" class="button button-spacing" value="删除" /></span>
                </div>
                <div>
                    <table class="list-table">
                        <thead>
                            <tr>
                                <th class="column-check"><input type="checkbox" class="checkAll" /></th>
                                <th>评论内容</th>
                                <th>文章</th>
                                <th>邮箱</th>
                                <th>日期</th>
                                <th>作者</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="column-check"><input type="checkbox" class="checkAll" /></th>
                                <th>评论内容</th>
                                <th>文章</th>
                                <th>邮箱</th>
                                <th>日期</th>
                                <th>作者</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <? if(commentData && commentData.length > 0) { ?>
                            <? var rowIdx = 0; ?>
                            <? commentData.forEach(function(comment){ ?>
                            <tr<? if(rowIdx % 2 === 0) { ?> class="alternate"<? } ?>>
                                <td class="column-check"><input type="checkbox" class="checkRow" /></td>
                                <td><?= util.cutStr(comment.comments.comment_content, 20) ?></td>
                                <td><a href="/post/<?= comment.posts.post_id ?>"><?= comment.posts.post_title ?></a></td>
                                <td><?= comment.comments.comment_author_email ?></td>
                                <td><?= comment.comments.display_created ?></td>
                                <td><?= comment.comments.comment_author ?></td>
                                <td><a href="/admin/comment?status=<?= comment.comments.comment_status ?>"><?= comment.comments.display_status ?></a></td>
                                <td>
                                    <? if(comment.comments.comment_status === 'pending'){ ?><a class="button button-not-last btn-approve" data-id="<?= comment.comments.comment_id ?>" href="javascript:;">批准</a><a class="button button-not-last btn-reject" data-id="<?= comment.comments.comment_id ?>" href="javascript:;">驳回</a><a class="button button-not-last btn-spam" data-id="<?= comment.comments.comment_id ?>" href="javascript:;">垃圾评论</a><? } ?><a class="button button-not-last btn-reply" href="/admin/comment/reply/<?= comment.comments.comment_id ?>">回复</a><a class="button button-not-last btn-edit" href="/admin/comment/<?= comment.comments.comment_id ?>">编辑</a><a class="button btn-delete" data-id="<?= comment.comments.comment_id ?>" href="javascript:;">删除</a>
                                </td>
                            </tr>
                            <? rowIdx += 1; ?>
                            <? }) ?>
                            <? } else { ?>
                                <tr class="alternate">
                                    <td colspan="8">无记录</td>
                                </tr>
                            <? } ?>
                        </tbody>
                    </table>
                </div>
                <div class="table-nav">
                    <span><input type="button" class="button" value="批准" /></span>
                    <span><input type="button" class="button" value="驳回" /></span>
                    <span><input type="button" class="button" value="标记垃圾评论" /></span>
                    <span><input type="button" class="button" value="删除" /></span>
                </div>
                <? include ../elements/pageBar.html ?>
            </div>
        </div>
    </div>
    <? include ../elements/pageFooter.html ?>
</div>
<script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    function sendAction(action, commentId){
        $.ajax({
            type: 'post',
            url: '/admin/comment/status',
            data: {
                action: action,
                commentId: commentId
            },
            headers: {
                'X-CSRF-Token': $('#csrfToken').val()
            },
            dataType: 'json',
            success: function (d, s, xhr) {
                if(d.code === 0){
                    window.location.reload();
                } else {
                    alert(d.message);
                }
            },
            error: function (xhr, s, err) {
                return false;
            }
        });
    }
    $(function(){
        $('.btn-approve').on('click', function(e){
            sendAction('approve', $(this).attr('data-id'));
            return false;
        });
        $('.btn-reject').on('click', function(e){
            sendAction('reject', $(this).attr('data-id'));
            return false;
        });
        $('.btn-spam').on('click', function(e){
            sendAction('spam', $(this).attr('data-id'));
            return false;
        });
        $('.btn-delete').on('click', function(e){
            sendAction('delete', $(this).attr('data-id'));
            return false;
        });
    });
</script>
<? include ../common/footer.html ?>