<? include ../common/header.html ?>
<div id="body-wrapper">
    <? include ../elements/leftNav.html ?>
    <div id="content">
        <? include ../elements/topBar.html ?>
        <div id="control-panel">
            <div id="control-body">
                <h2>编辑评论</h2>
                <div class="split-line"><div class="split-corner">&nbsp;</div></div>
                <form id="form-comment" method="post" action="/admin/comment/save">
                    <div class="form-wrap">
                        <form>
                            <div class="form-field">
                                <label class="form-label-left">评论文章</label>
                                <span><a href="/post/<?- comment.posts.post_id ?>"><?= comment.posts.post_title ?></a></span>
                            </div>
                            <div class="form-field">
                                <label class="form-label-left" for="comment-content">评论内容</label>
                                <input type="text" class="input form-input" id="comment-content" name="commentContent" value="<?= comment.comments.comment_content ?>" />
                            </div>
                            <div class="form-field">
                                <label class="form-label-left">&nbsp;</label>
                                <input type="submit" class="submit" value="保存" />
                            </div>
                            <input type="hidden" name="_csrf" id="csrfToken" value="<?- token ?>" />
                            <input type="hidden" name="commentId" value="<?= comment.comments.comment_id ?>" />
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <? include ../elements/pageFooter.html ?>
</div>
<script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('#comment-content').focus();
        $('#form-comment').on('submit', function(e){
            var $that = $(this);
            $.ajax({
                type: 'post',
                url: $that.attr('action'),
                data: $that.serialize(),
                dataType: 'json',
                success: function (d, s, xhr) {
                    if(d.code === 0){
                        location.href = d.data.url;
                    } else {
                        $('#csrfToken').val(d.token);
                        alert(d.message);
                    }
                },
                error: function (xhr, s, err) {
                    return false;
                }
            });
            return false;
        });
    });
</script>
<? include ../common/footer.html ?>