<? include ../common/header-post.html ?>
<div id="body-wrapper">
    <? include ../elements/leftNav.html ?>
    <div id="content">
        <? include ../elements/topBar.html ?>
        <div id="control-panel">
            <div id="control-body">
                <h2>上传新媒体文件</h2>
                <div class="split-line"><div class="split-corner">&nbsp;</div></div>
                <form id="form-media" method="post" action="/admin/media/upload" enctype="multipart/form-data">
                    <div class="form-wrap">
                        <form>
                            <div class="form-field">
                                <label class="form-label-left" for="filename">选择文件</label>
                                <input type="file" class="input form-input" id="mediafile" name="mediafile" />
                            </div>
                            <div class="form-field">
                                <label class="form-label-left">&nbsp;</label>
                                <input type="submit" class="submit" value="保存" />
                            </div>
                            <input type="hidden" name="_csrf" id="csrfToken" value="<?- token ?>" />
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <? include ../elements/pageFooter.html ?>
</div>
<? include ../common/js.html ?>
<script type="text/javascript">
    seajs.use('module/admin/media');
</script>
<? include ../common/footer.html ?>