<? include ../common/header.html ?>
<div id="body-wrapper">
    <? include ../elements/leftNav.html ?>
    <div id="content">
        <? include ../elements/topBar.html ?>
        <div id="control-panel">
            <div id="control-body">
                <h2>文章<a class="button button-add-h2" href="/admin/post/new">写文章</a></h2>
                <div class="split-line"><div class="split-corner">&nbsp;</div></div>
                <div id="status-type">
                    <ul>
                        <li><a href="/admin/post?status=all"<? if(curStatus === 'all'){ ?> class="font-bold"<? } ?>>全部 (<?= count.all ?>)</a> | </li>
                        <li><a href="/admin/post?status=publish"<? if(curStatus === 'publish'){ ?> class="font-bold"<? } ?>>已发布 (<?= count.publish ?>)</a> | </li>
                        <li><a href="/admin/post?status=private"<? if(curStatus === 'private'){ ?> class="font-bold"<? } ?>>私密 (<?= count.archive ?>)</a> | </li>
                        <li><a href="/admin/post?status=draft"<? if(curStatus === 'draft'){ ?> class="font-bold"<? } ?>>草稿 (<?= count.draft ?>)</a> | </li>
                        <li><a href="/admin/post?status=trash"<? if(curStatus === 'trash'){ ?> class="font-bold"<? } ?>>回收站 (<?= count.trash ?>)</a></li>
                    </ul>
                </div>
                <div id="search-bar">
                    <form id="search-form" method="get" action="/admin/post">
                        <input type="text" class="input keyword" id="keyword" name="keyword" placeholder="搜索..." value="<?= curKeyword ?>" />
                        <input type="submit" class="button" value="搜索文章" />
                    </form>
                </div>
                <div class="table-nav clear-both">
                    <form method="get" action="/admin/post">
                        <span><input type="button" class="button" value="编辑" /></span>
                        <span><input type="button" class="button button-spacing" value="删除" /></span>
                        <span><select class="input" name="date">
                            <option value="">全部日期</option>
                            <? archiveDates.forEach(function(archive){ ?><option value="<?= archive.link_date ?>"<? if(archive.link_date === curDate){?> selected="selected"<? } ?>><?= archive.display_date ?></option><? }) ?>
                        </select></span>
                        <span><select class="input" name="category">
                            <option value="">所有分类</option>
                            <? var cate; for(var catIdx = 0; catIdx < categories.length; catIdx += 1){ ?>
                                <? cate = categories[catIdx]; ?>
                                <option value="<?= cate.slug || cate.name ?>"<? if(cate.slug === curCategory || cate.name === curCategory){?> selected="selected"<? } ?> /><? for(var idx = 1; idx < cate.level; idx += 1){ ?>&nbsp;&nbsp;&nbsp;&nbsp;<? } ?><?= cate.name ?></option>
                            <? } ?>
                        </select></span>
                        <span><input type="submit" class="button" value="筛选" /></span>
                    </form>
                </div>
                <div>
                    <table class="list-table">
                        <thead>
                            <tr>
                                <th width="2%" class="column-check"><input type="checkbox" class="checkAll" /></th>
                                <th width="18%">标题</th>
                                <th width="8%">日期</th>
                                <th width="10%">分类目录</th>
                                <th width="16%">标签</th>
                                <th width="8%">修改时间</th>
                                <th width="8%">创建时间</th>
                                <th width="5%" class="column-count">访问</th>
                                <th width="5%" class="column-count">评论</th>
                                <th width="5%">作者</th>
                                <th width="5%">状态</th>
                                <th width="10%">操作</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="column-check"><input type="checkbox" class="checkAll" /></th>
                                <th>标题</th>
                                <th>日期</th>
                                <th>分类目录</th>
                                <th>标签</th>
                                <th>修改时间</th>
                                <th>创建时间</th>
                                <th class="column-count">访问</th>
                                <th class="column-count">评论</th>
                                <th>作者</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <? if(postsData && postsData.posts.length > 0) { ?>
                            <? var rowIdx = 0; ?>
                            <? postsData.posts.forEach(function(post){ ?>
                            <tr<? if(rowIdx % 2 === 0) { ?> class="alternate"<? } ?>>
                                <td class="column-check"><input type="checkbox" class="checkRow" /></td>
                                <td><a rel="bookmark" title="<?- post.post.post_title ?>" href="<?= post.post.post_guid ?>" target="_blank"><?- util.cutStr(post.post.post_title, 20) ?></a></td>
                                <td><?= post.post.display_date ?></td>
                                <td>
                                    <? post.category.forEach(function(category){ ?>
                                        <a rel="category" href="/admin/post?category=<?= category.slug ? category.slug : category.name ?>"><?= category.name ?></a>
                                    <? }) ?>
                                </td>
                                <td>
                                    <? post.tag.forEach(function(tag){ ?>
                                        <a rel="category" href="/admin/post?tag=<?= encodeURIComponent(tag.slug ? tag.slug : tag.name) ?>"><?= tag.name ?></a>
                                    <? }) ?>
                                </td>
                                <td title="<?= post.post.display_modified_time ?>"><?= post.post.display_modified_time ?></td>
                                <td title="<?= post.post.display_created_time ?>"><?= post.post.display_created_time ?></td>
                                <td class="column-count"><?= post.post.post_view_count ?></td>
                                <td class="column-count"><?= post.post.comment_count ?></td>
                                <td><a rel="author" href="/admin/post?author=<?= post.post.post_author ?>"><?- post.author.user.user_display_name ?></a></td>
                                <td><a href="/admin/post?status=<?= post.post.post_status ?>"><?= post.post.display_status ?></a></td>
                                <td>
                                    <!-- <input type="button" class="button button-not-last btn-edit" value="编辑" /><input type="button" class="button btn-delete" value="删除" /> -->
                                    <a class="button button-not-last btn-edit" href="/admin/post/<?= post.post.post_id ?>">编辑</a><a class="button btn-delete" href="javascript:;">删除</a>
                                </td>
                            </tr>
                            <? rowIdx += 1; ?>
                            <? }) ?>
                            <? } else { ?>
                                <tr class="alternate">
                                    <td colspan="12">无记录</td>
                                </tr>
                            <? } ?>
                        </tbody>
                    </table>
                </div>
                <div class="table-nav">
                    <span><input type="button" class="button" value="编辑" /></span>
                    <span><input type="button" class="button" value="删除" /></span>
                </div>
                <? include ../elements/pageBar.html ?>
            </div>
        </div>
    </div>
    <? include ../elements/pageFooter.html ?>
</div>
<!-- <script type="text/javascript" src="/js/vendor/jquery-1.11.0.min.js"></script> -->
<? include ../common/footer.html ?>